<!-- En templates/transacciones/detalle_transaccion.html -->
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Detalle de Transacción</title>
</head>
<body>
    <h1>Detalle de Transacción</h1>
    <p>ID de Transacción: {{ transaccion.id_transaccion }}</p>
    <p>Acción Realizada: {{ transaccion.accion_realizada }}</p>
    <p>ID de Usuario: {{ transaccion.id_usuario }}</p>
    <p>Fecha de Registro: {{ transaccion.fecha_registro }}</p>
    <!-- Puedes agregar más detalles según tu modelo -->
</body>
</html>
