<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Página de Inicio</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/breadcrumbs.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/tabla.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
</head>
<body>
  <header>
    <div id="carouselExampleIndicators" class="carousel slide">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="static/images/img1.jpg" class="d-block responsive w-100" alt="imgref" width="100" height="400">
          </div>
          <div class="carousel-item">
            <img src="static/images/img2.png" class="d-block responsive w-100" alt="datoref" width="100" height="400">
          </div>
          <div class="carousel-item">
            <img src="static/images/img3.jpg" class="d-block responsive w-100" alt="falencia" width="100" height="400">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
  </header>
      <div class="container">
        <nav class="navbar navbar-expand-lg bg-primary justify-content-center">
            <div class="container-fluid">
              <a class="navbar-brand" href="#">Inicio</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link active link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" aria-current="page" href="provedores_index">Provedores</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" href="#Nosotros">Nosotros</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" href="#Contacto">Contacto</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" href="#EmpresasAsociadas">Empresas Asociadas</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" href="#">Acceder</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" href="registro">Registro</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" href="index_dashboard">Dashboard</a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
      </div>

      <div class="container" id="Nosotros">

        <h1>
            Sobre nosotros
        </h1>

        <p>
            Lorem ipsum dolor sit amet consectetur adipiscing elit nibh aliquam torquent suscipit, ut pellentesque dignissim aptent nisi condimentum rhoncus parturient eros convallis molestie, dapibus vivamus sed vulputate platea risus netus cursus gravida nostra. Sapien libero erat metus ac taciti, pulvinar in molestie neque, ultrices dictum nibh faucibus. Sapien a conubia himenaeos nisl nam ultricies curabitur felis at, orci odio habitasse metus fringilla vulputate malesuada luctus potenti, inceptos nascetur neque lobortis tortor magna sagittis feugiat.

Curae nascetur lobortis netus id cubilia, euismod ultricies sollicitudin vestibulum class viverra, condimentum ut vehicula fames. Magna tincidunt sapien mi nulla netus congue taciti ornare, mollis senectus integer curae tortor primis venenatis, hac malesuada vulputate aliquam donec fames condimentum. At purus tortor quam tincidunt feugiat dictum, cubilia cursus dapibus parturient tempus venenatis condimentum, neque netus eu rhoncus pharetra.
        </p>

      </div>
      <div class="container" id="Contacto">

        <h1>
            Contacto
        </h1>
        <div class="container">
          <div class="row justify-content-center align-items-center">
              <div class="col-md-6 ">
                  <div class="my-5">
                    <form>
                      <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Nombre</label>
                        <input type="text" class="form-control" id="nombre_id" placeholder="Ingrese su Nombre">
                      </div>

                      <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Apellidos</label>
                        <input type="text" class="form-control" id="apellido_id" placeholder="Ingrese sus apellidos">
                      </div>

                      <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Empresa</label>
                        <input type="text" class="form-control" id="empresa_id" placeholder="Ingrese Empresa">
                      </div>

                      <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Direccion de Correo Electronico</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Ingrese Correo">
                      </div>

                      <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Mensaje</label>
                        <textarea id="w3review" class="form-control" name="w3review" rows="8" cols="70" placeholder="Describa su Consulta"></textarea>
                      </div>

                      <button type="submit" class="btn btn-primary">Enviar</button>
                    </form>
                  </div>
              </div>
          </div>
      </div>
      </div>
      <div class="container" id="EmpresasAsociadas">
        <h1>
            Empresas Asociadas
        </h1>
        <img src="static/images/asociados.png" class="img-fluid" alt="asociados">
      </div>

      <footer id = "myFooter">
        <style>
          #myFooter {
              background-color: #172034;
          }
        </style>
        <div class="container">
          <div class="row justify-content-center align-items-center">
              <div class="col-md-6 text-center">
                  <div class="my-5">
                    <a href="https://twitter.com/cidereivregion"> <i class="bi bi-twitter-x" style="font-size: 3rem; color: cornflowerblue;"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="https://www.facebook.com/people/Cidere-Regi%C3%B3n-de-Coquimbo/100063591579194/"><i class="bi bi-facebook" style="font-size: 3rem; color: cornflowerblue;"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="https://www.instagram.com/cidere_regiondecoquimbo/"><i class="bi bi-instagram" style="font-size: 3rem; color: cornflowerblue;"></i></a>
                  </div>
              </div>
          </div>
      </div>
      </footer>
      <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
</body>
</html>
