<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Página de Inicio</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/breadcrumbs.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/tabla.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
</head>
<body>
  <header>
    <div id="carouselExampleIndicators" class="carousel slide">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="static/images/img1.jpg" class="d-block responsive w-100" alt="imgref" width="100" height="400">
          </div>
          <div class="carousel-item">
            <img src="static/images/img2.png" class="d-block responsive w-100" alt="datoref" width="100" height="400">
          </div>
          <div class="carousel-item">
            <img src="static/images/img3.jpg" class="d-block responsive w-100" alt="falencia" width="100" height="400">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
  </header>
      <div class="container">
        <nav class="navbar navbar-expand-lg bg-primary justify-content-center">
            <div class="container-fluid">
              <a class="navbar-brand" href="#">Inicio</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link active link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" aria-current="page" href="provedores_index">Provedores</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" href="#Nosotros">Nosotros</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" href="#Contacto">Contacto</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" href="#EmpresasAsociadas">Empresas Asociadas</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" href="#">Acceder</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" href="registro">Registro</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" href="dashboard">Dashboard</a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
      </div>

      <div class="container" id="Nosotros">

        <h1>
            Sobre nosotros
        </h1>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
        <p>
          Sed turpis tincidunt id aliquet risus feugiat. Id eu nisl nunc mi. Egestas quis ipsum suspendisse ultrices gravida dictum. Maecenas pharetra convallis posuere morbi leo urna molestie at elementum. Nibh venenatis cras sed felis eget. Id consectetur purus ut faucibus pulvinar elementum integer. Cras adipiscing enim eu turpis egestas pretium aenean pharetra. Sit amet mauris commodo quis imperdiet massa tincidunt. Lacus sed turpis tincidunt id aliquet. Condimentum id venenatis a condimentum vitae sapien pellentesque habitant morbi. Tincidunt augue interdum velit euismod in pellentesque massa. Viverra nam libero justo laoreet sit amet cursus sit amet. Eu non diam phasellus vestibulum. Tempus imperdiet nulla malesuada pellentesque elit eget gravida cum. Imperdiet proin fermentum leo vel orci porta. Pharetra vel turpis nunc eget. Sapien pellentesque habitant morbi tristique senectus et.
        </p>
        <p>
          Massa tempor nec feugiat nisl. Sed egestas egestas fringilla phasellus faucibus scelerisque eleifend. Fermentum dui faucibus in ornare quam viverra orci sagittis eu. Suscipit tellus mauris a diam maecenas sed enim. Tortor condimentum lacinia quis vel eros donec. Auctor eu augue ut lectus arcu bibendum. Pellentesque pulvinar pellentesque habitant morbi. Diam volutpat commodo sed egestas. Amet cursus sit amet dictum sit amet justo. Nulla facilisi morbi tempus iaculis urna id volutpat lacus. At imperdiet dui accumsan sit amet.
        </p>

      </div>
      <div class="container" id="Contacto">

        <h1>
            Contacto
        </h1>
        <div class="container">
          <div class="row justify-content-center align-items-center">
              <div class="col-md-6 ">
                  <div class="my-5">
                    <form>
                      <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Nombre</label>
                        <input type="text" class="form-control" id="nombre_id" placeholder="Ingrese su Nombre">
                      </div>

                      <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Apellidos</label>
                        <input type="text" class="form-control" id="apellido_id" placeholder="Ingrese sus apellidos">
                      </div>

                      <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Empresa</label>
                        <input type="text" class="form-control" id="empresa_id" placeholder="Ingrese Empresa">
                      </div>

                      <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Direccion de Correo Electronico</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Ingrese Correo">
                      </div>

                      <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Mensaje</label>
                        <textarea id="w3review" class="form-control" name="w3review" rows="8" cols="70" placeholder="Describa su Consulta"></textarea>
                      </div>

                      <button type="submit" class="btn btn-primary">Enviar</button>
                    </form>
                  </div>
              </div>
          </div>
      </div>
      </div>
      <div class="container" id="EmpresasAsociadas">
        <h1>
            Empresas Asociadas
        </h1>
        <img src="static/images/asociados.png" class="img-fluid" alt="asociados">
      </div>

      <footer id = "myFooter">
        <style>
          #myFooter {
            background-color: #172034;
              
          }
          .navbar {
            background-color: #66ccff; /* Color celeste para el fondo */
            font-family: Arial, sans-serif; /* Fuente sin serifas */
          }

          .navbar-brand {
            color: white; /* Color blanco para el logo */
            font-weight: bold; /* Fuente en negrita */
            font-size: 24px; /* Tamaño de fuente grande */
            margin-left: 20px; /* Margen izquierdo para separar del borde */
          }

          .navbar-toggler {
            border: none; /* Sin borde para el botón de colapso */
          }

          .navbar-nav {
            margin-right: 20px; /* Margen derecho para separar del borde */
          }

          .nav-link {
            color: white; /* Color blanco para los enlaces */
            margin: 10px; /* Margen para separar los enlaces */
          }

          .nav-link:hover {
            color: #3399ff; /* Color azul claro para los enlaces al pasar el ratón */
          }

          .dropdown-menu {
            background-color: #66ccff; /* Mismo color que el nav para el menú desplegable */
          }

          .dropdown-item {
            color: white; /* Color blanco para los ítems del menú desplegable */
          }

          .dropdown-item:hover {
            color: #3399ff; /* Color azul claro para los ítems del menú desplegable al pasar el ratón */
          }

          .nav-icon {
            width: 20px; /* Ancho fijo para los iconos */
            height: 20px; /* Alto fijo para los iconos */
            margin-right: 5px; /* Margen derecho para separar los iconos de los textos */
          }
        </style>
        <div class="container">
          <div class="row justify-content-center align-items-center">
              <div class="col-md-6 text-center">
                  <div class="my-5">
                    <a href="https://twitter.com/cidereivregion"> <i class="bi bi-twitter-x" style="font-size: 3rem; color: cornflowerblue;"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="https://www.facebook.com/people/Cidere-Regi%C3%B3n-de-Coquimbo/100063591579194/"><i class="bi bi-facebook" style="font-size: 3rem; color: cornflowerblue;"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="https://www.instagram.com/cidere_regiondecoquimbo/"><i class="bi bi-instagram" style="font-size: 3rem; color: cornflowerblue;"></i></a>
                  </div>
              </div>
          </div>
      </div>
      </footer>
      <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
</body>
</html>
